<h1>Home#index</h1>

<h2>現在<%= @exams.length %>件のテストがあります</h2>
<h4>がんばって取り組みましょう。</h4>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= exam.title %></td>
        <td><%= exam.deadline %></td>
        <% unless answer_check(exam) %>
          <td><%= link_to '解答', new_exam_answer_sheet_path(exam) %></td>
        <% else %>
          <td>解答済</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
