<div class="jumbotron">
  <h2>ユーザ一覧(教員用)</h2>
  <i class="fas fa-user fa-3x text-primary float-right"></i>
  <br>
</div>

<% @users.each do |user| %>
  <div class="card p-2 m-2">
    [<%= user.student_id %>]
    <%= user.name %>
    <%= link_to t("views.link.show"), teacher_user_path(user), class: "text-right" %>
  </div>
<% end %>
