// Custom bootstrap variables must be set or imported *before* bootstrap.

$primary: #00BFA5;
$secondary: #FFFDE7;
$info: #80CBC4;
$warning: #E91E63;

* {
  font-size: 15px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.field_with_errors {
  display: contents;
  .form-control {
    @extend .is-invalid;
  }
}

.pagination>li>a {
  border: none;
  margin: 0 10px;
}
.pagination>.active>a {
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}

.tooltip {
  opacity: 1 !important;
}
.tooltip > .tooltip-inner {
  text-align: left;
  padding: 20px;
  background-color: $primary;
}
.tooltip-auto[x-placement^=bottom] .arrow::before,
.tooltip .arrow::before {
  bottom: 0;
  border-width: 0 !important;
  border-bottom-color: #fff !important;
}

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Fredoka+One&family=M+PLUS+Rounded+1c&display=swap');
